<div class="container">
    <aside class="filters">
        <div class="dropdown">
            <button class="dropdown-toggle">{{dropdown.active}} letters</button>
            <menu class="dropdown-menu">
                {{#each dropdown.items}}
                <li>
                    <a href={{this.href}}>{{this.label}}</a>
                </li>
                {{/each}}
            </menu>
        </div>
       
        <label for="letters-checkbox">Unique letters</label>

        <a href="/highscores?wordLength={{dropdown.active}}&uniqueLetters={{#if checkbox.checked}}false{{else}}true{{/if}}">
            <input type="checkbox" id="letters-checkbox" {{#if checkbox.checked}}checked{{/if}}>
        </a>
    </aside>

    {{#if highscores}}
        <table class="highscore-table">
            <caption>HIGHSCORES</caption>

            <tr>
                <th>RANK</th>
                <th>NAME</th>
                <th>TIME</th>
                <th>GUESSES</th>
                <th>SCORE</th>
            </tr>

                {{#each highscores}}
                <tr>
                    <td>{{inc @index}}</td>
                    <td>{{this.name}}</td>
                    <td>{{formatTime this.time}}</td>
                    <td>{{this.guesses}}</td>
                    <td>{{this.score}}</td>
                </tr>
                {{/each}} 
        </table>
    {{else}}
        <h3 class="headline headline--center">No highscores yet</h3>
    {{/if}}
</div>

<script src="../dropdown.js" type="module"></script>


